<ion-view title="CallLogs">
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Dialed Call" icon="ion-android-call" href="#/page2/dial">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Missed Call" icon="ion-alert" href="#/page2/miss">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Received Call" icon="ion-android-people" href="#/page2/receive">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Dialed Call" icon="ion-android-call" href="#/page2/dial">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Missed Call" icon="ion-alert" href="#/page2/miss">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Received Call" icon="ion-android-people" href="#/page2/receive">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings" icon="ion-android-settings" href="#/page2/setting">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>