<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-balanced">Enable Sync</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Take back up now</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Delete Old Log</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Delete Temp after back up</ion-toggle>
        </form>
    </ion-content>
</ion-view>